.gradient-text{
    background: var(--gradient);
    background-clip: text;
}

.hero-btn{
    border-image: var(--gradient);
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-image-slice: 1;
}


@keyframes scroll {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

.animate {
    animation: scroll 15s linear infinite;
}